@page
@model BookListRazor.Pages.BookList.IndexModel


<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info form-control text-white">Create New Book</a>
    </div>
</div>



