@page
@model IndexModel
@{
    ViewData["Title"] = "Alice's Book List Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>It's all about <a href="https://docs.microsoft.com/aspnet/core">Azure DevOps</a>.</p>
</div>
